<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header">
</head>
<body>
<header>
    <div class="three_dots"></div>
</header>

<script th:inline="javascript">
    /*<![CDATA[*/
        checkAuth('/entity/' + ${entity.id} + '/audit', 'GET', 'auditLink');
        checkAuth('/entity/' + ${entity.id} + '/versions', 'GET', 'versionsLink');
    /*]]>*/
</script>
<div class="content">
    <div th:include="fragments :: left" class="left">
    </div>
    <div class="main">
        <div th:include="fragments :: banner" class="title">
        </div>
        <div class="heading" th:text="${entity.contentModelId}" />
        <div class="panel">
            <p class="panel_title" th:text="${entity.id}" />
            <p th:if="${entity.state.name != 'PUBLISHED'}" class="property" th:text="Actions" />
                <input th:if="${entity.state.name != 'SUBMITTED' and entity.state.name != 'PUBLISHED'}" class="button_small" type="submit" value="Submit" th:onclick="'javascript:submitPut(\'' + @{/entity/} + ${entity.id} + '/submit' + '\', \'' + @{/entity/} + ${entity.id} + '\')'"/>
                <input th:if="${entity.state.name != 'PUBLISHED'}" class="button_small" type="submit" value="Publish" th:onclick="'javascript:submitPut(\'' + @{/entity/} + ${entity.id} + '/publish' + '\', \'' + @{/entity/} + ${entity.id} + '\')'"/>
                <input  th:if="${entity.state.name != 'PUBLISHED'}" class="button_small" type="submit" value="Delete" th:onclick="'javascript:deleteEntity(\'' + ${entity.id} + '\')'"/>
            <p th:if="${entity.state.name != 'PUBLISHED'}" class="panel_title" />

            <p class="property">Label</p>

            <p class="value" th:text="${entity.label}"></p>

            <p class="property">ContentModelId</p>

            <p class="value" th:text="${entity.contentModelId} ? ${entity.contentModelId} : 'No ContentModel'"></p>

            <p class="property">Parent</p>

            <p class="value" th:if="${entity.parentId} ? ${entity.parentId} : 'None'">
                <a th:text="${entity.parentId}" th:href="@{/entity/} + ${entity.parentId}"></a>
            </p>
            <p class="value" th:if="!${entity.parentId}" th:text="'None'" />

            <p class="property">Tags</p>

            <p class="value" th:text="${entity.tags}"></p>

            <p class="property">State</p>

            <p class="value" th:text="${entity.state}"></p>

            <p class="property">Version</p>

            <p class="value" th:text="${entity.version}"></p>

            <p class="property">Created</p>

            <p class="value" th:text="${entity.utcCreated}"></p>

            <p class="property">Last modified</p>

            <p class="value" th:text="${entity.utcLastModified}"></p>
            <a id="auditLink" th:text="'Audit record'" th:href="@{/entity/} + ${entity.id} + '/audit'"></a>

            <p/>
            <a id="versionsLink" th:text="'Versions'" th:href="@{/entity/} + ${entity.id} + '/versions'"></a>

        </div>
        <div th:each="md : ${entity.metadata}" class="panel">
            <p class="panel_title" th:text="'Metadata: ' + ${md.key}"></p>

            <p class="property" th:text="Actions" />
            <input class="button_small" type="submit" value="Delete" th:onclick="'javascript:deleteMetadata(\'' + ${entity.id} + '\', \'' + ${md.key} + '\')'"/>
            <p class="panel_title" />

            <p class="property">Type</p>

            <p class="value" th:text="${md.value.type}"></p>

            <p class="property">Mime type</p>

            <p class="value" th:text="${md.value.mimetype}"></p>

            <p class="property">Original file name</p>

            <p class="value" th:text="${md.value.originalFilename}"></p>

            <p class="property">Created</p>

            <p class="value" th:text="${md.value.utcCreated}"></p>

            <p class="property">Last modified</p>

            <p class="value" th:text="${md.value.utcLastModified}"></p>

            <p class="property">Validation</p>
            <a th:href="@{/entity/} + ${entity.id} + '/metadata/' + ${md.key} + '/validate'"
               th:text="'Validate'"></a>

            <p class="property">Content</p>
            <a th:href="@{/entity/} + ${entity.id} + '/metadata/' + ${md.key} + '/content'"
               th:text="'Download'"></a>
        </div>
        <div th:each="identifier : ${entity.alternativeIdentifiers}" class="panel">
            <p class="panel_title" th:text="'Identifiers: '"></p>

            <p class="property">Type</p>

            <p class="value" th:text="${identifier.type}"></p>

            <p class="property">Value</p>

            <p class="value" th:text="${identifier.value}"></p>
        </div>
        <div class="panel clickable" th:each="bin : ${entity.binaries}">
            <p class="panel_title" th:text="'Binary: ' + ${bin.key}"></p>

            <p class="property" th:text="Actions" />
            <input class="button_small" type="submit" value="Delete" th:onclick="'javascript:deleteBinary(\'' + ${entity.id} + '\', \'' + ${bin.key} + '\')'"/>
            <p class="panel_title" />

            <p class="property">Mime type</p>

            <p class="value" th:text="${bin.value.mimetype}"></p>

            <p class="property">Checksum</p>

            <p class="value" th:text="${bin.value.checksum}"></p>

            <p class="property">Checksum type</p>

            <p class="value" th:text="${bin.value.checksumType}"></p>

            <p class="property">Created</p>

            <p class="value" th:text="${bin.value.utcCreated}"></p>

            <p class="property">Last modified</p>

            <p class="value" th:text="${bin.value.utcLastModified}"></p>

            <p class="property">Content</p>
            <a th:href="@{/entity/} + ${entity.id} + '/binary/' + ${bin.key} + '/content'"
               th:text="'Download'"></a>

            <p class="property">Binary</p>
            <a th:href="@{/entity/} + ${entity.id} + '/binary/' + ${bin.key}" th:text="'View'"></a>

        </div>
        <div class="panel" th:if="${entity.relations != null}">
            <p class="panel_title">Relations</p>

            <div th:each="rel : ${entity.relations}">
                <p class="property" th:text="${rel.key}"></p>

                <div th:each="obj : ${rel.value}">
                    <p th:if="${#strings.startsWith(obj, '&lt;' + T(net.objecthunter.larch.model.LarchConstants).NAMESPACE_LARCH)}">
                        <a th:href="${#strings.substring(obj, 1 +#strings.length(T(net.objecthunter.larch.model.LarchConstants).NAMESPACE_LARCH) ,  #strings.length(obj) - 1)}"
                           th:text="${obj}"></a></p>

                    <p th:if="${#strings.startsWith(obj, '&lt;') and not #strings.startsWith(obj, '&lt;' + T(net.objecthunter.larch.model.LarchConstants).NAMESPACE_LARCH)}">
                        <a th:href="${#strings.substring(obj,1,#strings.length(obj) -1)}"
                           th:text="${obj}"></a></p>

                    <p th:unless="${#strings.startsWith(obj, '&lt;')}" th:text="${obj}"></p>
                </div>
            </div>
        </div>
        <div th:if="${entity.children != null and not #lists.isEmpty(entity.children)}"
             class="panel">
            <p class="panel_title">Children</p>

            <p th:each="child: ${entity.children}" class="value"><a
                    th:href="@{/entity/} + ${child}" th:text="${child}"></a></p>
        </div>
        <div class="right">
            <div class="panel">
                <script>
                $(document).ready(function() {
                $('#ceId').watermark('Generated Id', {className: 'inactive'});
                $('#ceParentId').watermark('Parent Id', {className: 'inactive'});
                $('#ceLabel').watermark('Unnamed Entity', {className: 'inactive'});
                $('#ceType').watermark('Type', {className: 'inactive'});
                $('#ceTags').watermark('Tags', {className: 'inactive'});
                $('#ceButton').click(function() {
                    createEntity($('#ceId').val(), $('#ceType').val(),$('#ceLabel').val(),$('#ceTags').val(),$('#ceParentId').val());
                    })
                });

                </script>
                <p th:if="${entity.contentModelId == 'level1'}" class="panel_title">Create new Level2</p>
                <p th:if="${entity.contentModelId == 'level2'}" class="panel_title">Create new Data</p>
                <p th:if="${entity.contentModelId == 'data'}" class="panel_title">Create new Child</p>
                <input id="ceId" type="text" name="id"
                       title="Set the identifier of the entity or leave empty for a generated value"/>
                <input th:if="${entity.contentModelId == 'level1'}" id="ceType" type="hidden" name="type" th:value="level2"/>
                <input th:if="${entity.contentModelId != 'level1'}" id="ceType" type="hidden" name="type" th:value="data"/>
                <input id="ceLabel" type="text" name="label" title="Set the label of the entity"/>
                <input id="ceParentId" type="hidden" name="parentId" th:value="${entity.id}"/>
                <input id="ceTags" type="text" name="tags"
                       title="Set a comma separated list of tags for this entity"/>
                <input class="button" id="ceButton" type="button" value="CREATE"/>
            </div>
            <div class="panel">
                <script>
                $(document).ready(function() {
                    $('#binName').watermark('Name', {className: 'inactive'});
                 });

                </script>
                <p class="panel_title">Create new binary</p>

                <form th:action="@{/entity/} + ${entity.id} + '/binary/file'"
                      method="post"
                      enctype="multipart/form-data">
                    <input id="binName" type="text" name="name" title="Set the name of the binary"/>
                    <input id="binFile" type="file" name="binary" title="Select a file for upload"/>
                    <input class="button" type="submit" value="Create new binary"/>
                </form>
            </div>
            <div class="panel">
                <script>
                $(document).ready(function() {
                    $('#mdName').watermark('Name', {className: 'inactive'});
                 });

                </script>
                <p class="panel_title">Create new metadata</p>

                <form enctype="multipart/form-data" method="post"
                      th:action="@{/entity/} + ${entity.id} + '/metadata'">
                    <input id="mdName" type="text" name="name"
                           title="Set the name of the metadata"/>
                    <input id="mdFile" type="file" name="metadata"
                           title="Select a metadata file for upload"/>
                    <select id="mdType" name="type" title="Select a valid metadata type">
                        <option th:each="type : ${metadataTypes}" th:label="${type.name}"
                                th:text="${type.name}"></option>
                    </select>
                    <input class="button" type="submit" value="Create metadata"/>
                </form>
            </div>
            <div class="panel">
                <script>
                $(document).ready(function() {
                    $('#identifierValue').watermark('Value', {className: 'inactive'});
                 });

                </script>
                <p class="panel_title">Create new identifier</p>

                <form enctype="multipart/form-data" method="post"
                      th:action="@{/entity/} + ${entity.id} + '/identifier'">
                    <select id="identifierType" name="type" title="Select a valid identifier type">
                        <option th:each="identifierType : ${identifierTypes}"
                                th:label="${identifierType.name}"
                                th:text="${identifierType.name}"></option>
                    </select>
                    <input id="identifierValue" type="text" name="value"
                           title="Set the value of the identifier"/>
                    <input class="button" type="submit" value="Create identifier"/>
                </form>
            </div>
            <div class="panel">
                <script>
                $(document).ready(function() {
                    $('#relPredicate').watermark('Predicate', {className: 'inactive'});
                    $('#relObject').watermark('Object', {className: 'inactive'});
                 });

                </script>
                <p class="panel_title">Create new relation</p>

                <form enctype="multipart/form-data" method="post"
                      th:action="@{/entity/} + ${entity.id} + '/relation'">
                    <input id="relPredicate" type="text" name="predicate"
                           title="Set the predicate of the relation"/>
                    <input id="relObject" type="text" name="object"
                           title="Set the objet of the relation"/>
                    <input class="button" type="submit" value="Create relation"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments :: footer" class="footer">
</div>
</body>
</html>


